@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
  --chocolate: #42210B;
  --neon-orange: #FF5C00;
  --white: #FFFFFF;
  --black: #000000;
}

